.viewContainer{
  display: flex;
  justify-content: center;
}

.boxForm{
  display: flex;
  width: 600px;
  flex-direction: column;
}

label{
  
}

input{
  height: 40px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding-left: 10px;
}